aniso8601==9.0.1
asgiref==3.8.1
Django==4.1.13
django-graphql-jwt==0.4.0
django-mongoengine==0.5.6
dnspython==2.6.1
graphene==3.3
graphene-directives==0.4.6
graphene-django==3.2.1
graphene-federation==3.2.0
graphene-mongo==0.4.4
graphql-core==3.2.3
graphql-relay==3.2.0
mongoengine==0.28.2
promise==2.3
PyJWT==2.9.0
pymongo==4.8.0
setuptools==70.3.0
six==1.16.0
sqlparse==0.5.1
text-unidecode==1.3
